global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

listen psql
  bind :26257
  mode tcp
  balance roundrobin
  option httpchk GET /health?ready=1
  server s1 roach1:26257 check port 8080
  server s2 roach2:26257 check port 8080
  server s3 roach3:26257 check port 8080

listen console
  bind :8080
  mode tcp
  balance roundrobin
  option httpchk GET /health?ready=1
  server c1 roach1:8080 check
  server c2 roach2:8080 check
  server c3 roach3:8080 check
